/.build/
/.iso-build/
/binary/
/tftpboot/
/cache/
/chroot/
/artifacts/
/live-image-*
/config/binary
/config/bootstrap
/config/chroot
/config/common
/config/source
/build.log
/config/includes.chroot/root/.rescue-password.hash*

*.tar.gz
*.iso
*.img
*.tgz
*.log
*.tbz
*.tar.bz2
*.tar.xz
*.tar.zst
*.tar
*.zip
*.deb
*.rpm
*.dmg
*.gz
*.xz
*.zst

*.lock

*.crt
*.key
*.pem
*.ovpn
*.pkcs12
*.pfx
*.jks
*.der
*.csr
*.p12
*.srl
*.jceks
*.jce

*.swp
*.swo
*.bak
*.tmp
*.swm


*.old
*.orig
*.rej
*.patch
*.diff
*.log.*
*.log.[0-9]*
*.log.[0-9]*.gz
*.log.[0-9]*.bz2
*.log.[0-9]*.xz
*.log.[0-9]*.zst
*.log.[0-9]*.tar